@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F9F6EE;
}

.calc-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    width: 400px;
    height: 550px;
    margin: 130px auto;
    background-color: #28282B;
    box-shadow: 10px 0px 10px gray;
    border: 10px solid black;
}

.result {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: end;
    margin: 20px;
    height: 8vh;
    background-color: #F0E68C;
    border: 2px solid #F4BB44;
}

.display {
    margin: 0;
    font-family: 'Orbitron', 'Courier', sans-serif;
    font-size: 32px;
    letter-spacing: 0.2ch;
    text-align: center;
}

.buttons {
    display: flex;
    flex: 7;
    padding: 10px;
}

.btn-numbers {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    flex: 7;
    gap: 0 7px;
    margin-right: 10px;
}

.btn-operations {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 20px 0;
}

.buttons button {
    background-color: #36454F;
    border: none;
    box-shadow: 5px 1px 1px black;
    border: 2px solid black;
    font-family: 'Orbitron', 'Courier', sans-serif;
    font-size: 32px;
    color: #F9F6EE;
}

.buttons button.button-active {
    box-shadow: 1px 1px 1px black;
    opacity: 0.85;
}

.btn-numbers button {
    width: 75px;
    height: 75px;
}

.btn-operations button {
    background-color: #E49B0F;
    color: #28282B;
}